<div class="main">
    <div class="left-side block">
        <h4>Services</h4>
        <h5>About portal</h5>
        <ul>
            <li><a href="#">Payment</a></li>
            <li><a href="#">Transportation and communication</a></li>
            <li><a href="#">Tourism and sport</a></li>
        </ul>
    </div>
    <div class="content block">
        <h3>New service for athletes and their parents available on eGov.kz portal</h3>
        <p>National Information Technologies JSC under Ministry of Digital Development, Innovations and Aerospace Industry of RK performed works on implementation of online service at eGov.kz for the convenience of parents bringing up young athletes. ...</p>
    </div>
    <div class="right-side block">
        <h4>What does electronic government mean and its purposes?</h4>
        <p>Just try to imagе a society close in your perspective to the ideal one. Sound, with good job, good level of life, favorable living environment – the list can be continued endlessly and according to personal priorities be completed with necessary additional aspects.

            But essential part of that society is the state itself. State takes care of the citizens. State provides opportunities for the best way of fulfillment of each citizen. State that guarantees integrity and compliance with law. State oriented to needs and demands of citizens. State with easy, apprehensible and available interaction – a state for people.
            
            Development of information communicational technologies in Kazakhstan may guarantee the implementation of as minimum two last statements. The concept of “electronic government” has been developed for comfort, clear without obstacles communication between the state and the people.</p>
    </div>
</div>